@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

:root {
    background-color: rgb(29, 29, 26);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 50px;
    font-family: 'Nova Square', cursive;
}

h1 {
    color: limegreen;
    margin-bottom: 5rem;
}


.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}